@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);
@import url(https://fonts.googleapis.com/css?family=Raleway);
::selection {
  color: #fff;
  background: #2a2b39;
}

::-moz-selection {
  color: #fff;
  background: #2a2b39;
}

h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #eee;
  margin: 0px;
}
#map {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 100px;
  margin-top: 20px;
  padding: 5px;
  width: calc(100% - 200px);
  height: calc(100% - 140px);
  overflow: hidden;
  z-index: 9;
  
}

html, body{
  background: #111111; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#111, #333); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#111, #333); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(#111, #333); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#111, #333); /* Standard syntax */
  height: 100%;
  overflow: hidden;
}
  
